*.log
*.ts
**/*.map
.github
.gitignore
.gulp
.vscode/**
assets/
gulpfile.babel.ts
out/test/**
out/build/**
src/**
test/**
tsconfig.json
typings/**
vsc-extension-quickstart.md
yarn.lock
package-lock.json
